*{
    font-family: 'Microsoft JhengHei','Noto Sans CJK TC','Noto Sans TC',sans-serif;
}


h1{
    font-size: 48px;
    font-weight: bold;
}



h2{
    font-size: 36px;
    font-weight: bold;
}

h3{
    font-size: 28px;
    font-weight: bold;
}
h4{
    font-size: 20px;
    font-weight: bold;
}
p{
    font-size: 18px;
    font-weight: bold;
}

/* -------------------導覽列----------------  */
nav{
    background-color: #262228;
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
}
.nav_list{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.nav_list ul{
    list-style: none;  
    display: flex;

} 
.nav_list li {
    padding: 0 90px;
}   
.nav_list ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold; 
  
}
.nav_list a:hover{
    display: inline-block;
    border-bottom: 2px solid white ;
    padding-bottom:10px;
}
.logo {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -35%);
}

.wallpaper{
    width: 100%;
    height: 700px;
 
}

.wallpaper img{
    width: 100%;
    max-height: 700px;
    object-fit: cover;
    position: relative;
}

header .title h1{
    display: inline-block;
    letter-spacing: 2px;
    color: white;
    background-color: rgba(128, 86, 43, 0.7);
    padding: 20px 20px 20px 80px;
    position: absolute;
    top: 575px;
    left: 0px;    
  
}

/* -------------------拿破崙----------------  */

.Napoleon{
    width: 123px;
    height: 143px;
    text-align: center;
    position: fixed;
    top: 400px;
    right: 0;
    z-index: 7;
}

.Napoleon img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.Napoleon a{
    text-decoration: none; 
}

.Napoleon span{
    margin-top: -10px;
    writing-mode: vertical-lr ;
    color: white;
    background-color: rgb(14, 103, 128);
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding:15px;
    border-radius:20px;
    box-shadow: 8px 2px 5px rgba(82,82,82,0.75);
}

.path {
    display: flex;
    list-style: none;  
    width: 1200px; 
    padding-top: 50px;
    margin: auto;
}
.path li{
    padding: 6px 15px;
    position: relative;
}
.path li a{
    color: rgb(14, 103, 128);
    text-decoration: none;
    font-size: 18px;
}
.path li + li::before{
    content:'/';
    color: #aaa;
    position: absolute;
    left: 0;
}

.collection-item .container{
    width: 1200px;
    margin: auto;
    margin-top: 100px;
    position: relative;
}

/* -------------swiper------------ */

.swiper {
    width: 1200px;
    height: 700px;
  }

  .swiper-slide {
    text-align: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width:100%;
    height:100%;
    object-fit: cover;
    cursor:pointer;
  }


/* ------------------藏品介紹-------------------   */

.collection-introduce .container{
    width: 1200px;
    margin: auto;
    margin-top: 150px;
    display: flex;
    /* border: 1px solid red;  */
}

.map .map_pic img{
    width: 90%;
}

.container .map{
    display: flex;  
}
.map .map_pic{
    position: relative;
    /* border: 1px solid red;  */
}
.map .location{
    position: absolute;
    bottom: 220px;
    right:195px;
    animation: shakeY;
    animation-duration:4s;
    animation-iteration-count: infinite;
}

.container .txt{
    margin: 20px;
    width: 600px;
    padding: 20px;
    /* border: 1px solid red;  */
    letter-spacing: 2px;
    line-height:25px;
}

.museum_location i{
    font-size: 30px;
    margin-right: 5px;
    margin-bottom: 20px;
}


.official a{
    text-decoration: none;
    
}
.official span{
    padding-left: 5px;
    color: rgb(14, 103, 128);
}
.official img{
    vertical-align: middle;
}
.button {  
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
.button a{
    width: 300px;
    line-height: 75px;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(14, 103, 128);
    color: white;
    border-radius:10px;
}

.button a:hover{
    background-color: rgb(248, 120, 120);
}


/* --------------珍藏推薦---------------- */

.collection-suggest{
    margin-top: 200px;
    text-align: center;
}
.collection-suggest h1{
    margin-bottom: 100px;
}
.suggest_container{
    width: 1200px;
    margin: auto;
    text-align: center;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
}
.suggest_container .item{
    width: 580px;
    height: 400px;
    margin-right: 40px;
    display: flex;
    box-shadow: 9px -2px 6px rgba(186,186,186,0.75);
}

.suggest_container .item:nth-child(2){
    margin-right: 0px;
}

.collection_img img{
    width:100%;
    height:100%;
    vertical-align: middle;
    object-fit:cover;
    /* border: 1px solid red; */
}

.item .suggest_txt{
    width: 400px;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
    line-height:25px;
    /* border: 1px solid red; */
}

.suggest_txt .museum_location i {
    font-size: 18px;
}


.suggest_txt span{
    letter-spacing: 0px;
    font-size: 14px;
}

.suggest_txt a{
    background-color:rgb(14, 103, 128);
    text-decoration: none;
    letter-spacing: 1px;
    color: #262228;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 16px;
    position: relative;
    display: inline-block;
}

.suggest_txt a:hover{
    color: #fff;
    background-color:rgb(14, 103, 128);
}

/* -----------相關展覽專題推薦----------- */
section.topic{   
    margin-top: 200px; 
    padding-bottom: 200px;

}

.topic_container{
    width: 1200px; 
    margin: auto;
    text-align: center;
}

.topic-item-wrap{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
}

.topic-item{
    width: 31.666666%;
    height: 450px;
    margin-right: 2.5%;
    margin-bottom: 50px;
    box-shadow: 9px -2px 6px rgba(186,186,186,0.75);
}

.topic-img{
    position: relative;
}

.topic-img img{
    width: 100%;
    height: 300px;
    vertical-align: middle;    
}

.topic-item.Mona-Lisa img{
    object-fit: cover;
    object-position: top; 
}
.topic-item:nth-child(3n){
    margin-right: 0px;
}


a.topic-lable{
    background-color: rgb(88,103,115);
    display: inline-block;
    padding: 0px 10px 5px 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

a.topic-lable::before{
    content:"";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('./resources/compass.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-5px, 8px);
}
a.topic-lable.British-Museum{
    background-color: rgb(145, 118, 88);
}



.topic-item-wrap span{
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    letter-spacing: 2px;
    /* border:1px solid red; */

}

.topic-item-wrap a.title{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    text-decoration: none;
    margin:20px 10px;
    color: rgb(88,103,115);

    /* border: 1px solid red; */
}
.topic-item-wrap a.British_Museum{
    color: rgb(145, 118, 88);
}

 /* --------------------------------footer-----------------  */

 footer{
    background-color:#262228;
    width: 100%;
    height: 250px;
    position: relative;   
}

.top{
    width: 75px;
    height: 98px;
    position: absolute;
    right: 120px;
    top: -70px;
    text-align: center;
    animation: pulse;
    animation-duration:2s; 
    animation-iteration-count: infinite;
}
.top img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    vertical-align: top;
    box-shadow: 9px -1px 5px rgba(0,0,0,0.18);
}
.top span{
    color: white;
    display: inline-block;
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
}
.footer_container{
    width: 1200px;
    margin: auto;
    position: relative;
    z-index: 2;
}

.Baco-San-Juan{
    position: absolute;
    margin: 20px;
    left: -200px;
    z-index: 1;
}
.Baco-San-Juan img{
    width: 100%;
    vertical-align: top;
}

.footer_info{
    padding-top: 50px;
}
.footer_info ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}
.footer_info ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold; 
    letter-spacing: 3px;
  
}

.social-media{
    width: 70%;
    margin: auto;
    display: flex;
    margin-top: 65px;
    justify-content: space-evenly;
    align-items: center;   
}

.social-media img{
    width: 100%;
    vertical-align: top;
}