*{
    font-family: "Microsoft JhengHei","Noto Sans CJK TC","Noto Sans TC";
}


h1{
    font-size: 48px;
    font-weight: bold;
}



h2{
    font-size: 24px;
    font-weight: bold;
}

p{
    font-size: 18px;
    font-weight: bold;
}

/* -------------------導覽列----------------  */
nav{
    background-color: #262228;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
}
.list_wrap{
    width:1200px;
    display: flex;
    height: 120px;
    margin: auto;
}
.list_wrap{
    display: flex;
    align-items: center; 
    justify-content: space-around;
}
.list_wrap ul{
    list-style: none;  
    display: flex;
} 
.list-left li {
    margin-right: 25px;
}   
.list-right li {
    margin-right: 25px;
}   
.list_wrap ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: bold; 
}
.list_wrap a:hover{
    display: inline-block;
    border-bottom: 2px solid white ;
    padding-bottom:10px;
}
.logo {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -35%);
}

/* -------------------拿破崙----------------  */

.Napoleon{
    width: 123px;
    height: 143px;
    text-align: center;
    position: fixed;
    top: 400px;
    right: 0;
    z-index: 7;
}

.Napoleon img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.Napoleon a{
    text-decoration: none; 
}

.Napoleon span{
    margin-top: -10px;
    writing-mode: vertical-lr ;
    color: white;
    background-color: rgb(14, 103, 128);
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding:15px;
    border-radius:20px;
    box-shadow: 8px 2px 5px rgba(82,82,82,0.75);
}

/* -------------------影片----------------  */
.video{
    margin: auto;
    width: 100%;
}

/* -------------------立即啟航----------------  */
section.start{
    padding-top: 100px;  
    background-color: rgb(246, 246, 246); 
}
.start .container{
    width: 100%;

    margin: auto; 
    display: flex;
    align-items: center;
}
.pic_intro{
    position: relative;
}
.pic_intro img{
    width: 100%;
    height: 100%;
    opacity: 70%;
    vertical-align: top;
}

 .intro .txt{
    position: absolute;
    margin: 20px;
    letter-spacing: 2px;
    top: 0;
    left: 0;
}
.intro .txt h2{
    font-size: 30px;
}
.intro .txt p{
    font-size: 22px;
    line-height: 40px;
    padding-left: 10px;
}
.intro .button {  
    margin: 0 250px;
    margin-top: 100px;
    text-align: center;
}
.intro .button a{
    width: 300px;
    line-height: 75px;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(14, 103, 128);
    color: white;
    border-radius:10px;
}

.intro .button a:hover{
    background-color: rgb(248, 120, 120);
}
.pic_Atene img{   
    width: 100%;
    height: 100%;
    opacity: 75%;
    vertical-align:top;
}
/* --------------------------------選擇您的旅途----------------  */
section.slide{
    margin-top: 200px;   
}
.slider_container{
    width: 1200px;
    margin: auto;
    text-align: center;
    /* border: 1px solid red; */
}
.slider_container .title h1{
    padding-bottom: 20px;
}

/* --------------------------------幻燈片----------------  */

 /* slide styles  */
 .swiper {
   width: 100%;
   height: 100%;
 }
 
 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
 
   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   justify-content: center;
   align-items: center;
 }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  
/* slide styles  */

/* --------------------------------各館珍藏-----------------  */

section.collection{
    background-color: #262228;
    width: 100%;
    margin-top: 200px;   
}

.collection_container{
    width: 1200px;
    margin: auto;
    text-align: center;
    letter-spacing: 2px;
}
.collection_container .title h1{
    color: white;
    padding: 30px 0;
}

.collection_item{
    display: flex;
}

.collection_item .item{
    width: 13.333333%;
    margin: 20px 3.33333%;
}

.collection_item .item img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 50%;
}

.collection_item .txt h2{
    color: white;
}

/* --------------------------------近期專題-----------------  */

section.topic{   
    margin-top: 200px; 
    padding-bottom: 200px;
}

.topic_container{
    width: 1200px; 
    margin: auto;
    text-align: center;
}

.topic-item-wrap{
    display: flex;
    flex-wrap: wrap;
}

.topic-item{
    width: 31.666666%;
    height: 450px;
    margin-right: 2.5%;
    box-shadow: 9px -2px 6px rgba(186,186,186,0.75);
}

.topic-img{
    position: relative;
}

.topic-img img{
    width: 100%;
    height: 300px;
    vertical-align: middle;    
}
.topic-item.Mona-Lisa img{
    object-fit: cover;
    object-position: top; 
}
.topic-item.Sistine-Chapel-ceiling{
    margin-right: 0px;
}

.topic-item a.topic-lable{
    background-color: rgb(88,103,115);
    display: inline-block;
    padding: 0px 10px 5px 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.topic-item a.topic-lable::before{
    content:"";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('./resources/compass.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-5px, 8px);
}

.topic-item a.topic-lable.British-Museum{
    background-color: rgb(145, 118, 88);
}

.topic-item a.topic-lable.Musei-Vaticani{
    background-color: #A5A5AF;
}

.topic-item-wrap span{
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    letter-spacing: 2px;
    /* border:1px solid red; */

}

.topic-item-wrap a.title{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    text-decoration: none;
    margin:20px 10px;
    color: rgb(88,103,115);

    /* border: 1px solid red; */
}
.topic-item-wrap a.British_Museum{
    color: rgb(145, 118, 88);
}
.topic-item-wrap a.title.Musei_Vaticani{
    color: #A5A5AF;
}


 /* --------------------------------footer-----------------  */
footer{
    background-color:#262228;
    height: 250px;
    position: relative;   
}

.top{
    width: 75px;
    height: 98px;
    position: absolute;
    right: 120px;
    top: -70px;
    text-align: center;
    animation: pulse;
    animation-duration:2s; 
    animation-iteration-count: infinite;
}
.top img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    vertical-align: top;
    box-shadow: 9px -1px 5px rgba(0,0,0,0.18);
}
.top span{
    color: white;
    display: inline-block;
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
}
.footer_container{
    width: 1200px;
    margin: auto;
    position: relative;
    z-index: 2;
}

.Baco-San-Juan{
    position: absolute;
    margin: 20px;
    left: -200px;
    z-index: 1;
}
.Baco-San-Juan img{
    width: 100%;
    vertical-align: top;
}

.footer_info{
    padding-top: 50px;
}
.footer_info ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}
.footer_info ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold; 
    letter-spacing: 3px;
  
}

.social-media{
    width: 70%;
    margin: auto;
    display: flex;
    margin-top: 65px;
    justify-content: space-evenly;
    align-items: center;   
}

.social-media img{
    width: 100%;
    vertical-align: top;
}