*{
    font-family: 'Microsoft JhengHei','Noto Sans CJK TC','Noto Sans TC',sans-serif;
}


h1{
    font-size: 48px;
    font-weight: bold;
}



h2{
    font-size: 36px;
    font-weight: bold;
}

h3{
    font-size: 28px;
    font-weight: bold;
}
h4{
    font-size: 20px;
    font-weight: bold;
}
p{
    font-size: 18px;
    font-weight: bold;
}

/* -------------------導覽列----------------  */
nav{
    background-color: #262228;
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
}
.nav_list{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.nav_list ul{
    list-style: none;  
    display: flex;

} 
.nav_list li {
    padding: 0 90px;
}   
.nav_list ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold; 
  
}
.nav_list a:hover{
    display: inline-block;
    border-bottom: 2px solid white ;
    padding-bottom:10px;
}
.logo {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -35%);
}
.header{
    width: 100%;
    position: relative;
}
.wallpaper img{
    width: 100%;
    height: 700px;
    object-fit: cover;
    vertical-align: top;
}
header .title h1{
    display: inline-block;
    letter-spacing: 2px;
    color: white;
    background-color: rgba(10, 10, 10, 0.61);
    padding: 20px 20px 20px 80px;
    position: absolute;
    bottom: -32px;
    left: 0;        
}

/* -------------------拿破崙----------------  */

.Napoleon{
    width: 123px;
    height: 143px;
    text-align: center;
    position: fixed;
    top: 400px;
    right: 0;
    z-index: 7;
}

.Napoleon img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.Napoleon a{
    text-decoration: none; 
}

.Napoleon span{
    margin-top: -10px;
    writing-mode: vertical-lr ;
    color: white;
    background-color: rgb(14, 103, 128);
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding:15px;
    border-radius:20px;
    box-shadow: 4px 2px 5px rgba(99, 98, 98, 0.7);
}

/* ----------------麵包屑屑---------------- */
.path {
    display: flex;
    list-style: none;  
    width: 1200px; 
    padding-top: 50px;
    margin: auto;
}
.path li{
    padding: 6px 15px;
    position: relative;
}
.path li a{
    color: rgb(14, 103, 128);
    text-decoration: none;
    font-size: 18px;
}
.path li + li::before{
    content:'/';
    color: #aaa;
    position: absolute;
    left: 0;
}

.collection-item .container{
    width: 1200px;
    margin: auto;
    margin-top: 100px;
    position: relative;
}


/* -------------------------------文章抬頭--------------------- */

.topic-head{
    margin-top: 150px;
}
.topic-head .container{
    width: 1200px;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid rgba(82,82,82,0.75);
}
.topic-head .container .txt{
    letter-spacing: 1px;
    line-height:25px;
}
.topic-middle{
    margin-top: 150px;
}
.topic-middle .container{
    width: 1200px;
    margin: auto;
}
.Mona-Lisa_pic img{
    width: 100%;
    height: 800px;
    object-fit: cover;
    vertical-align: top;
}
.topic-middle .txt{
    padding: 20px;
    letter-spacing: 1px;
    line-height:25px;
    border-bottom: 1px solid rgba(82,82,82,0.75);
}
.topic-bottom{
    margin-top: 200px;
    background-color: rgb(246, 246, 246);
}
.topic-bottom .container{
    width: 1200px;
    margin: auto;
}
.topic-bottom .container .txt{
    letter-spacing: 1px;
    line-height:25px;
}
.Cana_wrap{
    display: flex;
    /* border: 1px red solid; */
}
.Cana_wrap .txt h2{
    text-indent: -2em;
}
.Cana_wrap .txt{
    width: 600px;
    padding: 20px;    
}

.Canapic img{
    width: 100%;
    vertical-align: top;
    /* border: 1px red solid; */
}
.topic-end{
    margin-top: 200px;
}
.topic-end .container{
    width: 600px;
    margin: auto;
}
.topic-end .container .txt{
    letter-spacing: 1px;
    line-height:25px;
}

/* --------------服務資訊-------------- */


.museum_location i{
    font-size: 30px;
    margin-right: 5px;
    margin-bottom: 20px;
}


.official a{
    text-decoration: none;
    
}
.official span{
    padding-left: 5px;
    color: rgb(14, 103, 128);
}
.official img{
    vertical-align: middle;
}
.button {  
    margin: auto;
    margin-top: 50px;
    text-align: center;
}
.button a{
    width: 300px;
    line-height: 75px;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(14, 103, 128);
    color: white;
    border-radius:10px;
}

.button a:hover{
    background-color: rgb(248, 120, 120);
}

/* -----------相關展覽專題推薦----------- */
section.topic{   
    margin-top: 200px; 
    padding-bottom: 200px;

}
.topic_container{
    width: 1200px; 
    margin: auto;
    text-align: center;
}
.topic-item-wrap{
    margin-top: 100px;
    /* border: 1px solid red; */
}
.topic-item-wrap ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.topic-item-wrap li{
    width: 31.666666%;
    height: 450px;
    margin-right: 2.5%;
    margin-bottom: 50px;
    box-shadow: 9px -2px 6px rgba(186,186,186,0.75);
}
.topic-img{
    position: relative;
}

.topic-img img{
    width: 100%;
    height: 300px;
    vertical-align: middle;    
}
.topic-item-wrap li:nth-child(3n){
    margin-right: 0px;
}

a.topic-lable{
    background-color: rgb(88,103,115);
    display: inline-block;
    padding: 0px 10px 5px 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

a.topic-lable::before{
    content:"";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('./resources/compass.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-5px, 8px);
}
.topic-item-wrap span{
    display: inline-block;
    font-size: 18px;
    margin-top: 20px;
    letter-spacing: 2px;
    /* border:1px solid red; */

}
.topic-item-wrap a.title{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height:25px;
    text-decoration: none;
    margin:20px 10px;
    color: rgb(88,103,115);

    /* border: 1px solid red; */
}
/* --------------------------------footer-----------------  */

footer{
    background-color:#262228;
    width: 100%;
    height: 250px;
    position: relative;   
}

.top{
    width: 75px;
    height: 98px;
    position: absolute;
    right: 120px;
    top: -70px;
    text-align: center;
    animation: pulse;
    animation-duration:2s; 
    animation-iteration-count: infinite;
}
.top img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    vertical-align: top;
    box-shadow: 9px -1px 5px rgba(0,0,0,0.18);
}
.top span{
    color: white;
    display: inline-block;
    padding-top: 5px;
    font-size: 14px;
    font-weight: bold;
}
.footer_container{
    width: 1200px;
    margin: auto;
    position: relative;
    z-index: 2;
}

.Baco-San-Juan{
    position: absolute;
    margin: 20px;
    left: -200px;
    z-index: 1;
}
.Baco-San-Juan img{
    width: 100%;
    vertical-align: top;
}

.footer_info{
    padding-top: 50px;
}
.footer_info ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}
.footer_info ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold; 
    letter-spacing: 3px;
  
}

.social-media{
    width: 70%;
    margin: auto;
    display: flex;
    margin-top: 65px;
    justify-content: space-evenly;
    align-items: center;   
}

.social-media img{
    width: 100%;
    vertical-align: top;
}